* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: #212529; 
  color: #fff; 
  font-family: 'Baloo Bhai 2', cursive !important;
  line-height: 1.6; 
}
h1, h2, h3, h4, h5, h6,p ,Form,span{
  font-family: 'Baloo Bhai 2', cursive;
}